@charset "UTF-8";
/* CSS Document */



.project-slider-title {
	font-size: 26px;
	line-height: 30px;
	font-weight: 500;
	
}

.project-slider-info {
	font-size: 26px;
	line-height: 30px;
}

.project-slider-additional-text {
	font-style: italic;
	font-size: 20px;
}
.crsl_slide-counter {
	font-size: 40px;
	line-height: 46px;
}
/*
.backlink.zoom {
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-ms-transform: scale(1.8);
	-o-transform: scale(1.8);
	transform: scale(0,5);
}*/

h3.carousel-element.caption {
	color: #fff !important;
	font-weight: 500;
	font-size: 26px;
	line-height: 30px;
	text-shadow: 1px 1px 2px #000;
}
	


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-390 278.3 60 40' style='enable-background:new -390 278.3 60 40;' xml:space='preserve'%3E%3Cpolygon points='-375.9,278.3 -390,298.4 -375.9,318.3 -371.8,318.3 -384.5,299.9 -330,299.9 -330,296.7 -384.5,296.7 -371.8,278.3 '/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-390 278.3 60 40' style='enable-background:new -390 278.3 60 40;' xml:space='preserve'%3E%3Cpolygon points='-344.1,318.3 -330,298.2 -344.1,278.3 -348.2,278.3 -335.5,296.6 -390,296.6 -390,299.8 -335.5,299.8 -348.2,318.3 '/%3E%3C/svg%3E%0A");
}


/*
.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
*/

.carousel-control-next-icon, .carousel-control-prev-icon {
display: inline-block;
width: 80px;
height: 80px;
-webkit-transform: scale(1.8);  /* Chrome, Safari 3.1+ */
-moz-transform: scale(1.8);  /* Firefox 3.5+ */
-ms-transform: scale(1.8);  /* IE 9 */
-o-transform: scale(1.8);  /* Opera 10.50-12.00 */
transform: scale(1.8);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.carousel-control-prev {
	padding-left: 60px;
}
.carousel-control-next {
	padding-right: 60px;
}

.control-prev .hide-prev,  .control-next .hide-next{ visibility: hidden; }
.control-prev:hover .hide-prev { visibility: visible; }
.control-next:hover .hide-next { visibility: visible; }




.carousel-fade .carousel-item {
	opacity: 0;
	/*transition-duration: 2s;*/
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}





@media (max-width: 200em) {
	
	
}	
	
@media (max-width: 160em) {
	
}	
	

@media (max-width: 120em) {
	
	
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(1.5);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(1.5);  /* Firefox 3.5+ */
	-ms-transform: scale(1.5);  /* IE 9 */
	-o-transform: scale(1.5);  /* Opera 10.50-12.00 */
	transform: scale(1.5);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}
	
}	

@media (max-width: 85.9em) {
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(2);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(2);  /* Firefox 3.5+ */
	-ms-transform: scale(2);  /* IE 9 */
	-o-transform: scale(2);  /* Opera 10.50-12.00 */
	transform: scale(2);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}
}	
	
@media (max-width: 74.9em) {
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(2);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(2);  /* Firefox 3.5+ */
	-ms-transform: scale(2);  /* IE 9 */
	-o-transform: scale(2);  /* Opera 10.50-12.00 */
	transform: scale(1.5);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}

}

@media (max-width: 61.9em) {
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(2.5);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(2.5);  /* Firefox 3.5+ */
	-ms-transform: scale(2.5);  /* IE 9 */
	-o-transform: scale(2.5);  /* Opera 10.50-12.00 */
	transform: scale(2.5);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}
}

@media (max-width: 47.9em) {
	
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(5);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(5);  /* Firefox 3.5+ */
	-ms-transform: scale(5);  /* IE 9 */
	-o-transform: scale(5);  /* Opera 10.50-12.00 */
	transform: scale(5);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}

}

@media (max-width: 33.9em) {
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(5);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(5);  /* Firefox 3.5+ */
	-ms-transform: scale(5);  /* IE 9 */
	-o-transform: scale(5);  /* Opera 10.50-12.00 */
	transform: scale(5);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}
	
}

@media (max-width: 25.9em) {
	
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(4);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(4);  /* Firefox 3.5+ */
	-ms-transform: scale(4);  /* IE 9 */
	-o-transform: scale(4);  /* Opera 10.50-12.00 */
	transform: scale(6);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}
}

	
	
@media (max-width: 20.9em) {
	.carousel-control-next-icon, .carousel-control-prev-icon {
	-webkit-transform: scale(6);  /* Chrome, Safari 3.1+ */
	-moz-transform: scale(6);  /* Firefox 3.5+ */
	-ms-transform: scale(6);  /* IE 9 */
	-o-transform: scale(6);  /* Opera 10.50-12.00 */
	transform: scale(6);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}

}






