@charset "UTF-8";
/* CSS Document */

.fa.fa-picture-o.outline {
	color: rgba(89,106,140,1.00);
	}

button.fa.fa-picture-o.outline::before, i.fa.fa-picture-o.outline::before {
	/*-webkit-text-stroke-width: 1.4px;
	-webkit-text-stroke-color: rgba(89,106,140,1.00);
	color:transparent;*/
	font-size: 20px;
}


